A {
color: #fff;
text-decoration: none;
}
A:visited {
color: #fff;
}
A:active {
color: red;
}

.layout {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

header {
    margin-bottom: 3px;
}

.header-bg {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: #9b9b9b;
    color: white;
    background: linear-gradient(to bottom, #9b9b9b 0%,#8e8e8e 50%,#797979 100%);
    text-align: right;
	min-height: 20px;
}

.content {
    margin-bottom: 3px;
}

.content-bg {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: #9b9b9b;
    color: white;
    background: linear-gradient(to bottom, #9b9b9b 0%,#8e8e8e 50%,#797979 100%);
}

#item{
float:left;
font-size: 12px;
font-weight: bold;
margin: 5px;
width: 100px;
height: 130px;
text-align: center;
}

.item{
float:left;
font-size: 12px;
font-weight: bold;
margin: 5px;
width: 100px;
height: 130px;
text-align: center;
}

.item a{
display: block;
}

#item-image{
border-radius: 15px;
}

.menu-bg {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: #9b9b9b;
    color: white;
    background: linear-gradient(to bottom, #9b9b9b 0%,#8e8e8e 50%,#797979 100%);
}

.ul-menu {
	list-style-type: none;
	padding-left: 0;
}

.footer-bg {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: #9b9b9b;
    color: white;
    background: linear-gradient(to bottom, #9b9b9b 0%,#8e8e8e 50%,#797979 100%);
    text-align: center;
}